:root {
    /* —— Primary —— */
    --color-primary: #20BEFF;
    --color-primary-dark: #008BFF;
    --color-primary-light: #9EE8FF;
    --color-primary-light-blue: #e6f4ff;
    --color-primary-black: #202124;
    /* —— Secondary —— */
    --color-secondary: #409eff;
    /* —— Button Colors —— */
    --color-button-dark: #202124;

    /* —— Neutrals —— */
    --color-text-primary: #202124;
    --color-text-secondary: #5f6368;
    --color-bg-body: #f5f5f5;
    --color-bg-white: #ffffff;
    --color-border: #e0e0e0;
  
    /* —— Functional —— */
    --color-success: #42C920;
    --color-warning: #FACC15;
    --color-error: #FF4D4F;
  
    /* 也可定义若干灰度 */
    --gray-50: #fafafa;
    --gray-100: #f5f5f5;
    --gray-200: #eeeeee;
    --gray-300: #e0e0e0;
    --gray-400: #cccccc;
    --gray-500: #9e9e9e;
    --gray-600: #757575;
    --gray-700: #616161;
    --gray-800: #424242;
    --gray-900: #202124;
  }
  